<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Inicio</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  </head>
  <body>
    <br />
    <button class="boton"><a href="/create">Crear Post</a></button>
    <h1>Lugares:</h1>
    <ul>
      <% places.forEach((place) => { %>
 
        <p>
          <b><%= place.titulo %></b><br />
          <i><%= place.contenido %></i><br />
          <img src="<%= place.link %>" alt="<%= place.contenido %>" /><br />
          <span><%= place.createdAt %></span>
          <a href="/updates/<%= place.id %>">Editar</a>
          <a href="/delete/<%= place.id %>">Eliminar</a>
        </p>
   
      <% }); %>
    </ul>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
